body {
    background-color: #604DA7;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #443C82;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    padding: 12px 16px;
    text-align: left;
}

th {
    cursor: pointer;
    background-color: #2E2965;
    color: #FFD700;
    font-size: 1.1em;
    border-bottom: 2px solid #FFD700;
    transition: background-color 0.3s ease;
}

th:hover {
    background-color: #473A7B;
}

td {
    color: #FFFFFF;
    border-bottom: 1px solid #2E2965;
}

tr:hover {
    background-color: #473A7B;
}


img#logo {
    height: 250px;
}

div#logo {
    width:100% !important;
    align-items: center;
    margin-bottom: 15px;
}